/* Footer.css */
.footer {
  background-color: #495e57;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  width: 100px;
  height: auto;
}

.footer-contact p {
  margin: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #f4ce14;
}

.footer-social a {
  margin: 0 10px;
}

.footer-social img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
